.tit-novedades{
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-size: 28px;
    align-items: center;
}

.container {
    width: 90%;
    min-height: 100vh;
    max-width: 950px;
    margin: 0 auto;
    overflow: hidden;
}

.slider {
    background-color: #f2f2f2;
    padding: 40px 0;
}

.slider-container {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    align-items: center;
    gap: 1em;
}

.slider-body{
    grid-column: 2/3;  /*donde empieza a donde termina*/
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
    display: grid;
    background-color: #f2f2f2;
    grid-template-columns: 1fr max-content;
    align-items: center;
    transition: opacity 1.5s;
}

.slider-body-show {
    opacity: 1;
    pointer-events: unset; /*mandarlo al principio*/
}

.slider-texts {
    max-width: 600px;
}

.subtitle {
    font-size: 2rem;
    margin-bottom: 20px;
}

.slider-parr {
    font-weight: 300;
    font-size: 20px;
    line-height: 1.7;
}

.slider-img {
    width: 350px;
    height: 230px;
    border-radius: 40%;    
    object-fit: cover;
    display: block;
    margin: 0 auto
}

.slider-arrow {
    cursor: pointer;
    width: 90%;
}

.slider-arrow:nth-of-type(2){
    justify-self: end;
}

@media (max-width: 950px){
    .subtitle {
        font-size: 1.5rem;
    }

    .slider-parr {
        font-size: 18px;
    }

    .tit-novedades{
        font-size: 25px;
    }
    

    .slider-body{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
    }

    .slider-picture{
        grid-row: 1/2;

    }
    .slider-arrow {
        width: 100%;
    }

    .slider-img{
        width: 200px;
        height: 200px;
    }

}