.logros{
    max-width: 950px;
    max-height: 100vh;
    margin: 0 auto;
}

.tit-prin-logro{
    display: flex;
    justify-content: center;
    color: var(--primary-color);
}

.cont-logros {
    width: 60%;
    margin: 20px auto;
    background-color: rgb(245, 247, 144);
    padding: 15px;

}
.tit-second-logro{
    font-size: 19px;
}

.descrip-logro{
    text-align: left;
}

.img-izq{
    float: left;
    margin-right: 15px;
    width:10%;

}

.reset {
    clear: both;
}

@media (max-width: 950px){

    .tit-second-logro{
        font-size: 17px;
    }
    
    .descrip-logro {
        text-align: left;
        font-size: 15px;
    }
    

    .izquierda {
        margin-right: 16px;
    }



}